<ion-card class="cupon">
    <div class='cuponBase'>

        <ion-card-title class="Titulo letraCupon" padding>50%</ion-card-title>
        <div> </div>
        <div>

            <img src="./assets/CodigoQR.png" class="cuponImg" />
        </div>

    </div>
    <ion-card-content class="Titulo">

        123456789034567
        <p>Nombre auncio
            <br> Baraton
            <br> Disponible hasta: HOY
        </p>
    </ion-card-content>


</ion-card>


<style>
    .textoCupon {
        color: rgba(233, 200, 1, 1);
    }
    
    .cuponBase {
        display: flex;
        justify-content: space-between;
    }
    
    .cupon {
        background: radial-gradient(circle, rgb(238, 214, 77) 31%, rgb(226, 208, 72) 99%);
    }
    
    .cuponImg {
        height: 70px;
        width: 70px;
    }
    
    .letraCupon {
        font-size: 250%;
    }
</style>